<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin's Menu - {{ config.get('BLOG_NAME', None) }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css">
  </head>

  <body>
    <div class="title-bar" data-responsive-toggle="menu1" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="menu1">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Menu</li>
          <li> <a href="/">foo</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

   

