<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin's Menu{% endblock %} - {{ config.get('BLOG_NAME', None) }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Admin's menu</div>
    </div>
    <div class="top-bar" id="menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a class="button secondary" href="{{ url_for('admin.show_admin_menu_with_login') }}"><i class="fi-home"></i></a></li>
          <li {% block settings_menu_item_attributes %}{% endblock %} >
            <a href="{{url_for('admin.show_admin_settings') }}">Settings</a>
          </li>
          <li {% block posts_menu_item_attributes %}{% endblock %} >
            <a href="{{url_for('admin.show_admin_posts') }}">Posts</a>
          </li>
          <li {% block widgets_menu_item_attributes %}{% endblock %} >
            <a href="{{ url_for('admin.show_admin_widgets') }}">Widgets</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            {% if session.logged_in %}
              <a class="button secondary" href="{{ url_for('admin.logout') }}"><i class="fi-power"></i> <span>Logout</span></a>
            {% else %}
              <button class="button" type="button" data-toggle="login-dropdown"><i class="fi-torso"></i> <span>Login</span></button>
              <div class="dropdown-pane" id="login-dropdown" data-dropdown data-auto-focus="true">
                <form method="post">
                  <div class="row">
                    <label for="login">Login:
                      <input type="text" name="login" placeholder="Login">
                    </label>
                    <label for="password">Password:
                      <input type="password" name="password" placeholder="Password">
                    </label>
                    <button type="submit" class="button success">Sign in</button>
                  </div>
                </form>
              </div>
            {% endif %}
          </li>         
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns">
        {% block body %}
          {% if login_failed %}
            <div class="callout alert">
              <h5>Login failed!</h5>
              <p>Wrong login or password.</p>
            </div>
          {% endif %}
          {% if not session.logged_in %}
            <h3>Welcome to admin's menu!</h3> 
            <h6>Please log in in order to work on your blog.</h6>
          {% else %}
            <h3>You're logged in!</h3>
            <h6>Please select proper section in menu.</h6>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
