{% extends "admin/menu.j2" %}
{% block title %}Posts{% endblock %}
{% block posts_menu_item_attributes %}class="menu-text"{% endblock %}

{% block body %}
  <div class="row">
    <a class="small expanded button success" href="#">New post</a>
  </div>
{% endblock %}
